/* Page */

.page {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.page__body {
  display: grid;
  grid-template-rows: min-content minmax(320px, 1fr) min-content;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;

  /* overflow-x: hidden; */
  font-size: 1em;
}

.page__body--lock {
  overflow: hidden;
}

@media (min-width: 1050px) {
  .page__body {
    font-size: 1.1em;
  }
}

@media (min-width: 1110px) {
  .page__body {
    font-size: 1.2em;
  }
}

@media (min-width: 1290px) {
  .page__body {
    font-size: 1.3em;
  }
}
